<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>fish order infor</title>
</head>

<style>
	html{
			background-image: url(https://www.pngmart.com/files/3/Bubbles-PNG-Transparent-Picture.png);
			background-color:  rgb(0, 213, 255);
			background-size: cover;
	}
</style>

<body class="fish_order">
	<h1>fish order info</h1>
	<div>
		<strong>name: </strong><%- name %><br>
		<strong>email address: </strong><%- email %><br>
        <strong>fish: </strong><%- fish %><br>
		<strong>why do you want this fish : </strong><br><%- info %><br>
		<strong> water temperature that your fish likes best </strong><br><%- temp %> farenheit btw<br>
        <hr>
        <hr>
        <a id = "fish_link" href = "/">fish shop home</a><br>
	</div>
</body>

</html>
